* {
  font-family: "Museo Sans Cyrl", sans-serif;
}
@import "variables";
@import "animations";
.container {
  max-width: 950px;
  margin: 0 auto;
}
@import "promo";
@import "header";
@import "buttons";
@import "advantage";
@import "consultation";
@import "title";
@import "forms";
@import "carousel";
@import "catalog";
@import "feed";
@import "footer";
@import "modal";
@import "pageup";
